RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.povarenok\.by$ [NC]
RewriteRule ^(.*)$ http://povarenok.by/$1 [R=301,L]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]