.item-users {
	padding: 0px;
}

.item-user {
	position: relative;
}

.user-image {
	margin: 0 -15px 10px;
}

.user-detail {
	margin-bottom: 5px;
}

.user-detail strong {
	font-size: 16px;
    line-height: 20px;
}

.user-action {
	position: absolute;
	top: 10px;
	right: 10px;
}

.user-detail__name {
	padding-bottom: 5px;
	font-weight: bold;
}

.user-detail__city {
	padding-bottom: 5px;
}

.button-panel__is-friend {
	padding: 0;
}